.todo-list {
    padding: 0;
}

.todo {
  list-style: none;
}

.todo-text {
  width: 250px;
  margin-bottom: 10px
}

.todo-checkbox:checked + .todo-text {
  text-decoration: line-through;
}

.add-todo {
  margin-top:10px;
}

.hide {
  display: none;
}

button {
  background: linear-gradient(90deg, pink, yellow);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  border-radius: 10px
}
